# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
*.lock
pubspec.lock

# Firebase (placeholder, reemplazar con real)
lib/firebase_options.dart

# Android
android/.gradle/
android/.idea/
android/local.properties
android/app/google-services.json
*.jks
*.keystore

# iOS
ios/.symlinks/
ios/.generated/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
Podfile.lock
ios/GoogleService-Info.plist

# VS Code
.vscode/
*.code-workspace

# IDE
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local
